{% include "header.html"%}

<section class="midle">
  <div class="container ">
    <div class="text-center  mt-5 pt-5 ">
      <h1>LINCER <span class="text-dark text-capitalize fs-1 mb-5"> LOGIN</span> </h1>
      <hr / class=" w-25 mb-5 m-auto pb-5">
      <img src="/static/images/login640.png " alt="">
    </div>
    <div class="loginauth">
      <div class="container w-25 ">
        <div class="text-center">
         <div class="col-sm-12 col-md-12 col-lg-12 col-12 mt-5 ">
          <input class="form-control form-control-lg text-center mb-3" type="email" placeholder="email" aria-label=".form-control-lg example">
          <input class="form-control form-control-lg text-center mb-4 " type="password" placeholder="password" aria-label=".form-control-lg example">
          

         </div> 
         <div class="col-sm-12 col-md-12 col-lg-12 col-12"></div>
         <button type="button" class="btn btn-dark btn-lg mb-5 ">Login</button>

        </div>

      </div>


    </div>

  </div>

</section>









{% include "footer.html"%}